@import 'main.css';

/* Hello styling */
.hero_text {
  display: flex;
  margin: 22rem auto 12px auto;
  padding-bottom: 5%;
  width: 90%;
  text-align: left;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-start;
  flex-flow: column;
}

.hero_text > h2 {
  width: 85%;
  max-width: 900px;
  font-size: 1.5rem;
  color:rgba(240, 240, 241, 0.6);
  line-height: 2.2rem;
}

/* Currently working on box */
.currently {
  position: absolute;
  top: 140px;
  right: 7%;
  width: 350px;
  z-index: 22;
  font-family: Theano-Old-Style;
  text-align: center;
  padding: 10px 5px;
  background-color: #3233357a;
  border-radius: 7px;
  color: #a5a8ad7a;
}

#trig {
  font-size: 0.75rem;
}

.currently p {
  margin: 0;
  padding: 4px 0;
}

.currently .drop {
  margin: auto;
  padding: 0;
  color: #d1d4d891;
}

.currently .drop ul {
  text-align: left;
  margin: auto;
  margin-top: 14px;
  padding-left: 7%;
  list-style-type: circle;
}

.currently .drop li {
  margin: 10px 3px;
}

.drop_inner {
  -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s;
  overflow: hidden;
  max-height: 0;
}

.currently p:hover {
  animation: currentProjectsColorChange 0.35s ease-in 0s 1 normal forwards;
  /* animation: name duration timing-function delay iteration-count direction stayAfter */
}

@keyframes currentProjectsColorChange {
	0% {
		color: #a5a8ad7a;
	}
	100% {
		color:white;
	}
}

/* Main content styling */
.projects_cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.project {
  max-width: 380px;
  min-width: 250px;
  margin: 3%;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  overflow: hidden;
}

.project .project_img_outer {
  height: 250px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: rgba(130, 233, 252, 1);
  background-color: #161718;
}

.project .project_img_inner {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  /* transition: transform .5s ease; */
  opacity: 1;
}

.project .project_img_inner:hover {
  animation: fadeInOpacity 0.35s ease-in 0s 1 normal forwards;
  /* animation: name duration timing-function delay iteration-count direction stayAfter */
}

@keyframes fadeInOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

/* .project:hover .project_img_inner {
  transform: scale(1.2);
  opacity: 0.5;
} */

.project:hover .project_title > h3 {
  color: rgba(130, 233, 252, 0.959);
}

.project_detail {
  background-color: rgba(117, 117, 117, 0.377);
  background-color: #323335;
  padding: 18px;
}

.project_title {
  margin-bottom: 0.46em;
}

.project_filter {
  font-size: 0.91rem;
  color: rgba(166, 170, 172, 0.63);
  /* font-family: Merriweather-Light; */
  font-family: Theano-Old-Style;
}

.project_brief {
  font-size: 1.1rem;
  margin-top: 1.65em;
  margin-bottom: 0.5rem;
  color: rgba(226, 233, 236, 0.788);
}

/* control the current projects pop up on smaller screens */
@media (max-width: 1200px) {

  .hero_text {
    margin: 22rem auto 0.75rem auto;
  }

  .currently {
    position: initial;
    width: 50%;
    right: initial;
    top: 0;
    right: 0;
    margin: auto;
    font-size: 0.85rem;
  }
}

@media (max-width: 750px) {

  .hero_text {
    margin: 22rem auto 0.75rem auto;
  }

  .hero_text > h1 {
    font-size: 5.5rem;
    margin-bottom: 1rem;
  }

  .about_hero > h1 {
    font-size: 5.5rem;
  }

  .hero_text > h2 {
    font-size: 1.2rem;
  }

  .currently {
    width: 50%;
  }

}

@media (max-width: 480px) {

  .hero_text {
    margin: 8rem auto 0.75rem auto;
  }

  .currently {
    position: initial;
    width: 75%;
    right: initial;
    top: 0;
    right: 0;
    margin: auto;
    font-size: 0.82rem;
  }

  #trig {
    font-size: 0.5rem;
  }

  .hero_text > h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }

  .hero_text > h2 {
    font-size: 0.9rem;
  }

  .project {
    width: 90%;
    max-width: 300px;
    min-width: 180px;
  }
  .project .project_img_outer {
    height: 180px;
  }

  .project_title {
    font-size: 1.2rem;
  }

  .project_filter {
    font-size: 0.79rem;
  }

  .project_brief {
    font-size: 0.92rem;
  }
}

/* Gallery styling */
#play, #cgi {
  margin: 20px 10px 0px 10px;
  padding: 40px;
}

#play > h2, #cgi > h2 {
  text-align: center;
  margin: 50px 0 23px 0;
  font-size: 2rem;
}

.galleryBrief {
  width: 80%;
  margin: 0px auto 50px auto;
  text-align: center;
  color:rgba(240, 240, 241, 0.6);
  font-size: 1.1rem;
}

.play_cont, .play_cont_02 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.play_cont img {
  width: 24%;
  margin: 10px 0.01%;
}

.play_cont_02 img {
  width: 32%;
  margin: 10px 0.5%;
}

.play_cont_02 #wideIMG {
  width: 64%;
  margin: 10px 0.5%;
}

@media (max-width: 1200px) {
  .play_cont img {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .play_cont, .play_cont_02 {
    justify-content: center;
  }
  .play_cont img, .play_cont_02 img, .play_cont_02 #wideIMG {
    width: 80%;
  }
}

/* Writings styling */
#writings {
  margin: 20px 10px 0px 10px;
  padding: 40px;
}

#writings > h2 {
  text-align: center;
  margin: 50px 0 23px 0;
  font-size: 2rem;
}

.writingsBrief {
  width: 80%;
  margin: 0px auto 50px auto;
  text-align: center;
  color:rgba(240, 240, 241, 0.6);
  font-size: 1.1rem;
}

.ramblingsList {
  margin: auto;
  text-align: center;
}

.ramblingsList ul {
  margin: auto;
  list-style-type: none;
  font-family: Theano-Old-Style;
  font-size: 1.15rem;
  padding: 0;
}

.ramblingsList a {
  text-decoration: none;
  color: white;
}

.ramblingsList a:hover {
  color: rgba(130, 233, 252, 0.959);
}

/* About me styling */
#about {
  padding-top: 200px;
}

.about_hero {
  width: 90%;
  margin: 0 auto 20px auto;
}

.about_cont {
  margin: 0px auto;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
}

.about_text {
  width: 60%;
  color:rgba(240, 240, 241, 0.9);
  font-size: 1.15rem;
  font-family: Theano-Old-Style;
}

.about_illustration {
  margin: auto;
}

.about_illustration img {
  max-width: 130px;
  width: 100%;
}

/* Mobile */
@media (max-width: 480px) {
  .about_hero {
    width: 90%;
    margin: 4rem 1rem 1rem 1.3rem;
  }

  .about_hero > h1 {
    font-size: 2.8rem;
  }

  .about_cont {
    margin: 0px 1.3rem;
  }

  .about_text {
    font-size: 0.90rem;
    width: 100%;
    margin: auto;
  }

  .about_illustration {
    margin: 4rem auto 0 auto;
  }

  .about_illustration img {
    max-width: 90px;
    width: 100%;
  }

  #play > h2, #cgi > h2 {
    text-align: center;
    margin: 50px 0 23px 0;
    font-size: 1.6rem;
  }

}
