@import 'main.css';

/* Main content styling */
main {
  margin: 20px;
}

.project_title {
  margin-top: 120px;
  text-align: center;
}

.project_brief {
  margin: 25px auto;
  max-width: 690px;
  color: rgba(184, 184, 184, 0.6);
  font-size: 1.1rem;
  text-align: center;
}

.main_cont {
  margin: 50px;
}

.textContent {
  font-family: Theano-Old-Style;
  font-size: 1.30rem;
  font-weight: normal;
  color: rgb(226, 226, 226);
  line-height: 2rem;
  text-align: justify;
  width: 66%;
  margin: auto;

}

.main_cont img {
  display: block;
  width: 90%;
  margin: 50px auto;
}

.side_l {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  margin: 0;
  padding: 0;
}

.side_r {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  align-items: center;
  padding: 0;
  margin-left: 2%;
}

/* Mobile */
@media (max-width: 780px) {

  .textContent {
    font-family: Theano-Old-Style;
    font-size: 1.1rem;
    font-weight: normal;
    color: rgb(226, 226, 226);
    line-height: 2rem;
    text-align: justify;
    width: 80%;
    margin: auto;
  
  }

}

/* Mobile */
@media (max-width: 480px) {

  .project_title h2 {
    margin-top: 28%;
    font-size: 1.2rem;
  }
  .project_brief {
    margin: 35px auto;
    width: 93%;
    font-size: 0.8rem;
  }
  .side_r, .side_l {
    display: block;
    width: 100%;
    padding: 0;
  }
  .main_cont {
    margin: 5px;
    margin-bottom: 0;
  }
  .main_cont img {
    display: block;
    width: 88%;
    margin: 20px auto;
  }

  .textContent {
    font-family: Theano-Old-Style;
    font-size: 1rem;
    font-weight: normal;
    color: rgb(226, 226, 226);
    line-height: 2rem;
    text-align: justify;
    width: 85%;
    margin: auto;
  
  }

}