@import 'main.scss';

.cover {
    background: rgb(94 105 126);  /* fallback for old browsers */
    background: linear-gradient(to right, rgb(94 105 126), #0d0d0d);

    &__overlay {
        background: url('/assets/noise.jpg');
        background-size: contain;
        opacity: 0.1;
        mix-blend-mode: color-burn;
        background-repeat: repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__top {
        position: absolute;
        top: 0;
        right: 0%;
        text-align: end;
        padding: 0rem;
        font-family: 'Apercu Regular';
        margin: 1.8rem 2.5rem 0 0;
    }

    &__date {
        position: absolute;
        font-family: 'Apercu Regular';
        transform: translateY(-50%) rotateZ(-90deg);
        top: 75%;
        left: 0;
        margin-left: 0.4rem;
        padding: 0;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;

        text-align: center;
    
        font-family: 'Apercu Mono';
    }

    &__title {
        font-family: 'Maderon';
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 2rem;
        font-size: 0.8rem;

        font-family: 'Apercu Mono';

        &__list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &__item {
            & a {
                text-decoration: none;
                transition: color 0.25s ease-in-out;
            }
        }

        &__item:hover a {
            color: #fff;
        }
    }

    &__decorator {

        position: absolute;

        &__line {
            width: 0.25rem;
            height: 5rem;
            // border-radius: 0.5rem;
            background-color: #cccccc;
        }

        &__dot {
            margin-top: 0.35rem;
            width: 0.25rem;
            height: 0.25rem;
            border-radius: 1rem;
            background-color: #cccccc;

            // displace the second dot
            &:nth-child(2) {
                margin-top: 0.7rem;
            }
        }

        &__top {
            top: 0;
            left: 0;
            margin: 2rem 0 0 2rem;
        }

        &__bottom {
            right: 0;
            bottom: 0;
            margin: 0 2rem 2rem 0;
            transform: rotateZ(180deg);
        }

        
    }
    
}
