---
layout: _base-layout.ejs
faviconApple: favicon_io/apple-touch-icon.png
favicon32: favicon_io/favicon-32x32.png
favicon16: favicon_io/favicon-16x16.png
faviconManifest: favicon_io/site.webmanifest
cssLink: css/home.css
pageTitle: Home
short_description: Zala Sesko's portfolio
jsLink: js/home.js
---

<!-- Hello and introduction -->
<div class="hero_text">
  <h1>Hi! I'm Zala.</h1>
    <h2>As an aspiring Creative Technologist, I use code, design and interactivity to tell stories through meaningful experiences. Besides university, I'm always working on a side project or gathering ideas for the next one.</h2>
</div>

<div class="currently">
  <p><span id="trig">&#x25BC;</span> &nbsp; Projects I'm currently working on</p>
  <div class="drop_inner" id="drop_inner">
  <div class="drop" id="drop">
    <ul>
      <li>Designing infographics and educational material for a volunteering program at a youth-centre.</li>
      <li>Expanding my knowledge and skills of 3D modelling.</li>
      <li>Multiple creative development university projects.</li>
    </ul>
  </div>
</div>
</div>

<!-- Main contents of the page - project boxes -->
<section id="projects" class="projects_cont">

  <!-- Project 1 -->
  <a class="project" href="html/LGBTdataVis" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/lgbtGAI/cover.png')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>LGBT Acceptance Across the World</h3>
      </div>
      <div class="project_filter">
        Data Visualisation, d3.js
      </div>
      <div class="project_brief">
        A data visualisation of LGBT Acceptance Indices of 174 countries.
      </div>
    </div>
  </a>  

  <!-- Project 2 -->
  <a class="project" href="html/lostFreqs" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/lostFreqs/lostFreqs.png')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>Lost Frequencies</h3>
      </div>
      <div class="project_filter">
        Creative Coding, Computer Vision
      </div>
      <div class="project_brief">
        An interactive web-based program representing a speculative reality, exploring the sound-color relationship in relation to computer vision.
      </div>
    </div>
  </a>

  <!-- Project 3 -->
  <a class="project" href="html/nycSubwayViz" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/nycSubwayViz/nycViz.png')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>How close are NYC subway entrances to stations?</h3>
      </div>
      <div class="project_filter">
        Data Visualisation, Mapbox GL JS
      </div>
      <div class="project_brief">
        An interactive geospatial visualisation of subway entrances in relation to the stations in New York City.
      </div>
    </div>
  </a>

  <!-- Project 4 -->
  <a class="project" href="https://github.com/zalashub/markov-generator" alt='Markov Generator Link' target="_blank">
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/markov/markovTweets2.png')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>Markov Chain Bot</h3>
      </div>
      <div class="project_filter">
        Creative Coding, Language Processing
      </div>
      <div class="project_brief">
        A command line C++ application generating text based on input files utilising Markov Chains of n-th order.
      </div>
    </div>
  </a>
  
  <!-- Project 2 -->
  <a class="project" href="html/lucid" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/lucid/lucid-mockup.png')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>Lucid - Sleep Regulation App</h3>
      </div>
      <div class="project_filter">
        UX/UI Design and Research
      </div>
      <div class="project_brief">
        Maintain a regular and healthy sleeping pattern while tracking your data.
      </div>
    </div>
  </a>

  <!-- Project 3 -->
  <a class="project" href="html/1984" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/1984/hero.jpg')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>Fictional Political Party Website</h3>
      </div>
      <div class="project_filter">
        Web development, HTML/CSS/JavaScript
      </div>
      <div class="project_brief">
        Developing a website for a fictinal political party The Party from Geroge Orwell's novel 1984.
      </div>
    </div>
  </a>

  <!-- Project 4 -->
  <a class="project" href="html/astronaut" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/astronaut/hero.jpg')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>Platformer Game</h3>
      </div>
      <div class="project_filter">
        p5.js, Creative Coding
      </div>
      <div class="project_brief">
        Using p5.js to develop a simple 2D platformer game.
      </div>
    </div>
  </a>

  <!-- Project 6 -->
  <a class="project" href="html/queerAlphabet" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/QueerAlphabet/developed.jpg')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>Queer Alphabet</h3>
      </div>
      <div class="project_filter">
        Graphic Design, Editorial
      </div>
      <div class="project_brief">
        An educational-creative publication of LGBTQIA+ terminology.
      </div>
    </div>
  </a>

  <!-- Project 5 -->
  <a class="project" href="html/photography" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/photography/hero-min.png')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>Photography</h3>
      </div>
      <div class="project_filter">
        Photography
      </div>
      <div class="project_brief">
        A collection of my selected photographic works.
      </div>
    </div>
  </a>

  <!-- Project 5 -->
  <a class="project" href="#" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/photography/hero-min.png')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>Dynamic Web App - Calorie Buddy</h3>
      </div>
      <div class="project_filter">
        Full-stack development, Node.js, MongoDB
      </div>
      <div class="project_brief">
        A dynamic web application built with Node.js, with backend being MongoDB. 
        Made during a university course on Databases and the Web.
      </div>
    </div>
  </a>

  <a class="project" href="#" alt=''>
    <div class="project_img_outer">
      <div class="project_img_inner" style="background-image:url('assets/disinformed.png')"></div>
    </div>
    <div class="project_detail">
      <div class="project_title">
        <h3>Disinformed - Coming soon</h3>
      </div>
      <div class="project_filter">
        Data visualisation, Creative Coding, Computer Vision
      </div>
      <div class="project_brief">
        An interactive data visualisation piece of disinformation about COVID-19 using openframeworks and Leap Motion. My second year final project at university. 
      </div>
    </div>
  </a>

  </section>
</main>

<section id="play">
  <h2>Gallery 1.0.</h2>
  <div class="galleryBrief">Explore my collection of creative experiments realised with code.</div>
  <!-- <div class="galleryBrief">Explore my collection of creative experiments realised with code (and without it).</div> -->
  <div class="play_cont">
    <img loading=lazy src="assets/play/briansBrainTiny.gif" alt="">
    <img loading=lazy src="assets/play/stocatticism.png" alt="">
    <img loading=lazy src="assets/play/vintageCompArtTiny.gif" alt="">
    <img loading=lazy src="assets/play/L_SystemTrees.png" alt="">
    <img loading=lazy src="assets/play/irregularGrid01tiny.gif" alt="">
  </div>
</section>

<section id="writings">
  <h2>Writings.</h2>
  <div class="writingsBrief">Occasional ramblings about my creative journey and other topics I find interesting.</div>
  <div class="ramblingsList">
    <ul>
      <li><a href="html/IJSinternship">#1 What I learned at my research internship</a></li>
    </ul>
  </div>
</section>

<section id="cgi">
  <h2>Gallery 2.0.</h2>
  <div class="galleryBrief">A collection of my CGI endeavours.</div>
  <div class="play_cont">
    
    <img loading=lazy src="assets/cgi/jungleRoomPNG.png" alt="">
    <img loading=lazy src="assets/cgi/sandyPNG.png" alt="">
    <img loading=lazy src="assets/cgi/infraredTree.jpg" alt="">
    <img loading=lazy id="wideIMG" src="assets/cgi/mountain.png" alt="">
    <img loading=lazy src="assets/cgi/InteriorFinal.png" alt="">
    <img loading=lazy src="assets/cgi/lightanim.gif" alt="">
    <img loading=lazy src="assets/cgi/nebulaFinal.png" alt="">
    <img loading=lazy src="assets/cgi/rocketanim.gif" alt="">
    <img loading=lazy src="assets/cgi/goldHandRenderPNG.png" alt="">
    <img loading=lazy src="assets/cgi/whalePoster.png" alt="">
    <img loading=lazy src="assets/cgi/renderPNG.png" alt="">

  </div>
</section>

<!-- About me title -->
<section id="about">
<div class="about_hero">
  <h1>About me.</h1>
</div>

<div class="about_cont">
  <div class="about_text">
    Eager to explore the vast field of creative development through learning by doing, 
    I wish to empower people by using technology with an educational and creative flare. 
    <br><br>
    Constantly on the lookout for a new challenge, a new idea and new knowledge, 
    whether that be in Data Visualisation, 3D Modelling, Visual Journalism, Extended Reality 
    or something else yet unexplored. 
    <br><br>
    Above all I'm an avid supporter of self-sustainability, the discourse of social issues and personal development. 
    Oh, I am currently based in London. 
  </div>
  <div class="about_illustration">
    <img loading=lazy src="assets/mylogo.svg" alt="">
  </div>
</div>
</section>

<!-- Loader -->
<div class="se-pre-con">
<img src="assets/loaders/mainLoader.svg" alt="">
</div>
