<!-- Contact section -->
<footer class="footer_cont">
  <div class="footer_title">
    <h2>Get in touch</h2>
  </div>
  <div class="footer_details">
    <ul class="social_list">
      <li class="social_item">zala.sesko@gmail.com</li>
      <li class="social_item">
        <a href="https://www.linkedin.com/in/zala-sesko/" target="_blank">linkedIn</a>
      </li>
      <li class="social_item">
        <a href="https://github.com/zalashub" target="_blank">github</a>
      </li>
      <li class="social_item">
        <a href="https://instagram.com/zalasesko" target="_blank">instagram</a>
      </li>
      <li class="social_item">
        <a href="https://www.behance.net/zalasesko" target="_blank">behance</a>
      </li>
      <li class="social_item">
        <a href="https://twitter.com/zs_rose" target="_blank">twitter</a>
      </li>
      <li class="social_item">
        <a href="https://the-dots.com/users/zala-sesko-905168" target="_blank">the dots</a>
      </li>
    </ul>
    <div class="resume_note">You can email me to receive my résumé.</div>
  </div>
  <div class="line_break"></div>
  <div class="copyright">Zala Sesko &copy 2020</div>
</footer>

