<!-- Navigation bar -->
<nav>
  <div class="name"><a href="/">Zala S.</a></div>
  <div class="top_nav_cont">
    <ul class="top_nav_list">
      <li><a href="/#projects" class="top_nav_link" id="nav1">Projects</a></li>
      <li><a href="/#play" class="top_nav_link" id="nav2">Play</a></li>
      <li><a href="/#writings" class="top_nav_link" id="nav3">Writings</a></li>
      <li><a href="/#cgi" class="top_nav_link" id="nav4">Art</a></li>
      <li><a href="/#about" class="top_nav_link" id="nav5">About</a></li>
    </ul>
  </div>
</nav>
