--- 
  layout: _base-layout.ejs 
  cssLink: ../../css/photographyProject.css
  faviconApple: ../../favicon_io/apple-touch-icon.png
  favicon32: ../../favicon_io/favicon-32x32.png
  favicon16: ../../favicon_io/favicon-16x16.png
  faviconManifest: ../../favicon_io/site.webmanifest
  pageTitle: High Society
  short_description: High Society Photography 
  jsLink: ../../js/home.js
---

<div class="project_title">
  <h2>High Society</h2>
</div>
<div class="gallery-cont">
  <div class="asset">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/highsociety/julija3.jpg" alt="" />
    </div>
  </div>

  <div class="asset wide">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/highsociety/julija2.jpg" alt="" />
    </div>
  </div>

  <div class="asset">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/highsociety/julija6.jpg" alt="" />
    </div>
  </div>

  <div class="asset side left">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/highsociety/julija1.jpg" alt="" />
    </div>
  </div>

  <div class="asset side right">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/highsociety/julija5.jpg" alt="" />
    </div>
  </div>
</div>
