--- 
  layout: _base-layout.ejs 
  cssLink: ../../css/photographyProject.css
  faviconApple: ../../favicon_io/apple-touch-icon.png
  favicon32: ../../favicon_io/favicon-32x32.png
  favicon16: ../../favicon_io/favicon-16x16.png
  faviconManifest: ../../favicon_io/site.webmanifest
  pageTitle: Interrailing
  short_description: Interrailing around Europe Photography 
  jsLink: ../../js/home.js
---

<div class="project_title">
<h2>Interrailing around Europe</p>
</div>
<div class="gallery-cont">

<div class="asset">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/interrail/barcelona.jpg" alt="">
    </div>
</div>

<div class="asset wide">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/interrail/paris2.jpg" alt="">

    </div>
</div>

<div class="asset">
    <div class="asset-image">
      <img id="pic" loading=lazy src="../../assets/photography/interrail/paris7.jpg" alt="">
    </div>
</div>

<div class="asset wide">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/interrail/barcelona2.jpg" alt="">
    </div>
</div>

<div class="asset side left">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/interrail/barcelona3.jpg" alt="">
    </div>
</div>

<div class="asset side right">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/interrail/paris6.jpg" alt="">
    </div>
</div>

<div class="asset side left">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/interrail/madrid1.jpg" alt="">
    </div>
</div>

<div class="asset side right">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/interrail/madrid3.jpg" alt="">
    </div>
</div>

<div class="asset wide">
    <div class="asset-image">
      <img id="pic" loading=lazy src="../../assets/photography/interrail/paris9.jpg" alt="">
    </div>
</div>

<div class="asset wide">
    <div class="asset-image">
      <img loading=lazy src="../../assets/photography/interrail/paris3.jpg" alt="">
    </div>
</div>
