--- 
  layout: _base-layout.ejs 
  cssLink: ../../css/nycViz.css
  pageTitle: NYC Data Visualisation
  short_description: NYC Data Visualisation with Mapbox
  jsLink: ../../js/home.js
---

<div class="project_title">
  <h2>How close are NYC subway entrances to stations?</h2>
</div>
<div class="project_brief">
  Supposedly New York City has one of the most complex and difficult to navigate
  subway systems, where walking into a wrong station entrance is a common
  occurence, with the right one being rather far away. I wondered how accurate
  this statement is and thus set out to visualise the subway stations and their
  entrances as a personal project. Throughout making the visualisation I learned
  Mapbox GL JS.
</div>

<div class="main_cont">
  <!-- Link to viz -->
  <div class="play_btn">
    <a href="../NYCsubway" target="_blank">Explore the visualisation</a>
  </div>

  <div class="screenshot">
    <img src="../../assets/nycSubwayViz/nycViz.png" alt="" width="95%" />
  </div>
</div>
