--- 
  layout: _base-layout.ejs 
  cssLink: ../../css/photography.css
  pageTitle: Photography
  short_description: A collection of my photography projects
  jsLink: ../../js/home.js
---

<div class="gallery-cont">
  <div class="gallery-grid">
    <div class="column">
      <div class="asset">
        <a href="../highsociety">
          <div class="asset-image">
            <img
              src="../../assets/photography/highsociety/julija3.jpg"
              alt=""
            />
          </div>
          <div class="asset-title">
            <p>High Society</p>
          </div>
        </a>
      </div>

      <div class="asset">
        <a href="../uganda">
          <div class="asset-image">
            <img src="../../assets/photography/uganda/uganda1.jpg" alt="" />
          </div>
          <div class="asset-title">
            <p>Never Lose Your Soul: Erazmus+ project</p>
          </div>
        </a>
      </div>
    </div>

    <!-- 2nd column -->
    <div class="column">
      <div class="asset">
        <a href="../analogldn">
          <div class="asset-image">
            <img src="../../assets/photography/analog/pauls1.jpg" alt="" />
          </div>
          <div class="asset-title">
            <p>Analogue London</p>
          </div>
        </a>
      </div>

      <div class="asset">
        <a href="../purgatory">
          <div class="asset-image">
            <img
              src="../../assets/photography/purgatory/purgatory3.jpg"
              alt=""
            />
          </div>
          <div class="asset-title">
            <p>Purgatory</p>
          </div>
        </a>
      </div>
    </div>

    <div class="asset wide">
      <a href="../interrail">
        <div class="asset-image">
          <img src="../../assets/photography/interrail/paris3.jpg" alt="" />
        </div>
        <div class="asset-title">
          <p>Interrailing around Europe</p>
        </div>
      </a>
    </div>
  </div>
</div>
