--- 
  layout: _base-layout.ejs 
  cssLink: ../../css/photographyProject.css
  faviconApple: ../../favicon_io/apple-touch-icon.png
  favicon32: ../../favicon_io/favicon-32x32.png
  favicon16: ../../favicon_io/favicon-16x16.png
  faviconManifest: ../../favicon_io/site.webmanifest
  pageTitle: Purgatory
  short_description: Purgatory photography project
  jsLink: ../../js/home.js
---

<div class="project_title">
  <h2>Purgatory</p>
  </div>
<div class="gallery-cont">

  <div class="asset">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/purgatory/purgatory1.jpg" alt="">
      </div>
  </div>

  <div class="asset wide">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/purgatory/purgatory2.jpg" alt="">
      </div>
  </div>

  <div class="asset">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/purgatory/purgatory3.jpg" alt="">
      </div>
  </div>

</div>
