--- 
  layout: _base-layout.ejs 
  faviconApple: ../../favicon_io/apple-touch-icon.png
  favicon32: ../../favicon_io/favicon-32x32.png
  favicon16: ../../favicon_io/favicon-16x16.png
  faviconManifest: ../../favicon_io/site.webmanifest
  cssLink: ../../css/photographyProject.css
  pageTitle: Analogue London 
  short_description: Analogue London Photography 
  jsLink: ../../js/home.js
---

<!-- Pics -->
  <div class="project_title">
    <h2>Analogue London</h2>
  </div>
  <div class="gallery-cont">
    <div class="asset wide">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/analog/pauls1.jpg" alt="" />
      </div>
    </div>

    <div class="asset wide">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/analog/rest.jpg" alt="" />
      </div>
    </div>

    <div class="asset wide">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/analog/towerbridge.jpg" alt="" />
      </div>
    </div>

    <div class="asset">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/analog/gods2.jpg" alt="" />
      </div>
    </div>

    <div class="asset wide">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/analog/film1.JPG" alt="" />
      </div>
    </div>

    <div class="asset wide">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/analog/pauls2.jpg" alt="" />
      </div>
    </div>
  </div>
</main>
