---
layout: _base-layout.ejs
cssLink: /css/blog.css
faviconApple: ../../favicon_io/apple-touch-icon.png
favicon32: ../../favicon_io/favicon-32x32.png
favicon16: ../../favicon_io/favicon-16x16.png
faviconManifest: ../../favicon_io/site.webmanifest
pageTitle: Writings
short_description: Advanced visualization methods of urban mobility
jsLink: ../../js/home.js
---

<div class="blog_title">
    <h1>Advanced visualization methods of urban mobility</h1>
</div>
<div class="blog_brief">
    <h4>The following is an example of reports I wrote during my research internship. 
        It outlines data visualisation techniques for multiple use cases relating to urban mobility. 
        Amongst commonly used techniques, I refer to other researchers, who pioneered in implementing 
        complex methods to present multivariable data.
    </h4>
</div>

<div class="line_break"></div>

<div class="textContent">

    <br>
    <h2>Noise Analysis</h2>
    <h5>Visualisation method: Strategic noise map</h5>
    <p>In order to accurately visualise noise pollution data, (strategic) noise maps are used. 
        These are a graphical representation of the sound level distribution and the propagation of sound waves in a given region, for a defined period. [1] 
        A strategic noise map, furthermore, is a graphical representation of the predicted situation with regards to noise in a particular area with different colours 
        representing different noise levels in decibels [dB(A)]. [2]
        <br><br>
        Noise maps are based on two main noise indicators: Lden and Lnight. Lden is the day-evening-night noise indicator, representing the noise indicator for overall annoyance. 
        It takes into account higher levels of noise pollution in the evening and night periods. Lnight is the night time noise indicator and is used in the assessment of sleep disturbance. [2] 
        <br><br>
        In order to develop a noise map, a noise calculator is needed, such as the one proposed by Farcas and Sivertun. [3] There are also other models for generating the maps, 
        some of which using empirical methods, while most are based on on the physics of propagation of sound outdoors.
        <br><br>
        The quality of noise mapping is dependent on the input data, which can be generated with the knowledge of environmental acoustics and use of noise pollution/sound propagation models 
        (for instance, the Nordinc propagation model Nord2000). [4] In most cases those rely on an adaptation of the Geographic Information System (GIS) to provide effective data. 
        The results of interpolation techniques, such as the inverse distance weighting (IDW) interpolation can then be visualised. [4]
    </p>

    <br>
    <h2>Air pollution analysis</h2>
    <h5>Visualisation method: Air Quality Index (AQI) map</h5>
    <p>There are numerous visualization methods used for air pollution analysis. 
        Ranging from S-shaped parallel coordinates, a weighting map, used by Qu et al, to multi-dimensional views, 
        network visualisations and use of splattering by Liao et al., and two-dimensional diagrams applied by Li et al. [6]
        <br><br>
        Lu et al. propose a visualisation method meant for large air quality monitoring data, however for smaller scale 
        analysis (such as those done on individual cities) [7], the most effective map visualisation method is an Air Quality Index (AQI) map.
    </p>

    <br>
    <h2>Public transport delay and traffic congestion analysis</h2>
    <h5>Visualisation method: Congested section and delay distribution via line map</h5>
    <p>Since traffic congestion occurs in the road network, the most appropriate method of presentation 
        is a visualisation of traffic congestion on the road network, since it provides analysis for spatial distribution and identification of 
        traffic congestion patterns. Traffic congestion level is assigned a class, distinguished by a specific colour - temporal changes can thus be 
        observed by the colour change of the segment. A dot marker can additionally be used for identifying heavily congested intersections. Similarly,
        the level of delay at a certain road section is represented by a class (e.g. major delay, minor delay, no delay). [8]
    </p>

    <div class="imgCont">
        <img style="width:48%;" src="https://d3i71xaburhd42.cloudfront.net/a070640d45d383514471d3e0bd8ae8fef117c10b/32-Figure2.9-1.png" alt="Congestion distribution line map">
    </div>

    <br>
    <h2>Mobility pattern identification</h2>
    <h5>Visualisation method 1: Flow map based on OD data</h5>
    <p>For many use cases in this type of context, information is stored in the form of Origin-Destination (OD) data, which represents aggregated movement 
        count between pairs of geographic locations. [9] To visualise such data, Origin-Destination Matrices are used most frequently, however, in order to 
        present spatial data on a map, flow map visualisations are more suitable. Each location (point or surface) can be either an origin or a destination. 
        The interaction data between the origin and the destination is usually expressed by a line that connects the geometric centre of the unit, while the 
        width or colour (or opacity) of the line indicates the flow direction value between the origin and the destination. [10] Similarly, as with congestion analysis, 
        the temporal change can be observed through the change in an attribute of the line, e.g. its opacity.
    </p>

    <div class="imgCont">
        <img src="https://miro.medium.com/max/4800/0*pxyVsCuhoTN7Sury.gif" alt="Flow map">
    </div>

    <br>
    <h5>Visualisation method 2: Chord diagram</h5>
    <p>When it comes to data for specific districts, flow maps are a viable visualisation, however, a chord diagram could be an additional one. In such a diagram, 
        the flow between two nodes is represented by an arc, whose size (width) at an entity is proportional to the importance of the flow. To add a spatial dimension, 
        each district or neighbourhood can be given a distinct colour in the chart, as well as on the map of the city.
    </p>

    <br>
    <h2>Use of public transport analysis</h2>
    <h5>Visualisation method: Network distribution and heat dot map</h5>
    <p>Public transit lines take the form of a network, thus a suitable visualisation method is a network distribution map. Different lines are coloured differently for 
        easier visual distinguishing, while the width/thickness of the line indicates the volume of moving traffic, based on traffic count. Thus, the temporal and spatial 
        information about the prevalence of specific public transit line routes is identifiable. Additionally, individual stations can be visualised with a multivariable heat 
        distribution dot map, where each dot marker represents a station, while its colour visualises the traffic volume at the station at a certain point in time. With these two 
        methods, public transport traffic on roads as well as at individual stations is presented for further analysis.
    </p>

    <div class="imgCont">
        <img src="https://miro.medium.com/max/4800/0*WA9yzziij11rUVvY.gif" alt="Heat dot map">
    </div>

    <br>
    <h2>Accident analysis</h2>
    <h5>Visualisation method: Hotspot distribution heatmap</h5>
    <p>Common locations of traffic accidents can be presented with the use of a heatmap, where areas with high density of collisions are coloured usually red, while areas with 
        low density of collision get assigned a light blue colour. Thus, identification of points with greater volume of incidents i.e. most common location of incidents, 
        is clearly visually presented.
        <br><br>
        In the case of showing temporal information, traffic incidents at a certain point in time can simply be visualised with a marker at the location of the collision.
    </p>

    <br>
    <h2>Potential traffic congestion and scheduled events</h2>
    <h5>Visualisation method: Kernel density map and point map</h5>
    <p>Potential traffic congestions can be presented in the same way as concrete congestions - with a line distribution map, where each road section is coloured appropriately 
        based on the congestion level. However, if the question is about the probability of congestion and accidents Kernel density maps could be used, too. In such maps, the 
        Kernel density estimation - an estimation of the probability density function of random variables, is visualised with heat mapping. The resulting visualisation is a heatmap 
        showing line sections with greater probability of traffic congestions and incidents.
        <br><br>
        Scheduled events disturbing traffic flow could simply be visualised with markers at the point of the event, while their consequence is appropriately presented in the traffic flow or congestion visualisation.
    </p>

    <br>
    <h2>Traffic flow analysis</h2>
    <h5>Visualisation method: Point map</h5>
    <p>A common way of tracking and modelling traffic flow of cities is with ‘events’ or individual trips taken by a person/agent. To show the temporal and spatial information 
        these events are then visualised on a point map, where each moving dot represents one trip, coloured depending on the type of vehicle used (car, bike, bus, train, etc.). This visualisation 
        method is suitable for density analysis, as well, however, a better presentation of the volume of traffic at certain locations in space, is based on density mapping of trajectories. 
        The resulting heat line map thus shows the density of the trips taken on a specific location of the road, colours distinguishing between the density levels.
    </p>

    <div class="imgCont">
        <img src="https://d3i71xaburhd42.cloudfront.net/a070640d45d383514471d3e0bd8ae8fef117c10b/56-Figure5.7-1.png" alt="Kernel density map">
    </div>

    <div class="line_break"></div>

    <br>
    <h2>Resources</h2>
    <div class="resources">
    <ol>
        <li>[1]"Noise map", En.wikipedia.org, 2020. [Online]. Available: https://en.wikipedia.org/wiki/Noise_map. [Accessed: 04- Nov- 2020]</li>
        <li>[2]"Noise Maps -", TII, 2020. [Online]. Available: https://www.tii.ie/technical-services/environment/noise-maps/. [Accessed: 05- Nov- 2020]</li>
        <li>[3]F. Farcaş and Å. Sivertun, "ROAD TRAFFIC NOISE: GIS TOOLS FOR NOISE MAPPING AND A CASE STUDY FOR SKÅNE REGION" [Online]. Available: https://www.isprs.org/proceedings/xxxviii/2-W11/Farcas_Sivertun.pdf. [Accessed: 05- Nov- 2020]</li>
        <li>[4]"Environmental Acoustics - SINTEF", SINTEF, 2020. [Online]. Available: https://www.sintef.no/en/digital/acoustics/environmental-acoustics/. [Accessed: 05- Nov- 2020]</li>
        <li>[5]V. Poposki, K. Mitreski, D. Davcev and A. Naumoski, "NOISE POLLUTION MODELLING AND VISUALISATION – THE CASE STUDY FOR THE CITY OF SKOPJE", INTERNATIONAL SCIENTIFIC JOURNAL "SCIENCE. BUSINESS. SOCIETY", no. 2534-8485, 2020 [Online]. Available: https://stumejournals.com/journals/sbs/2016/2/48.full.pdf. [Accessed: 05- Nov- 2020]</li>
        <li>[6]P. Chen, "Visualization of real-time monitoring datagraphic of urban environmental quality", EURASIP Journal on Image and Video Processing, vol. 2019, no. 1, 2019 [Online]. Available: https://doi.org/10.1186/s13640-019-0443-6. [Accessed: 05- Nov- 2020]</li>
        <li>[7]W. Lu, T. Ai, X. Zhang and Y. He, "An Interactive Web Mapping Visualization of Urban Air Quality Monitoring Data of China", Atmosphere, vol. 8, no. 12, p. 148, 2017 [Online]. Available: https://www.researchgate.net/publication/319116324_An_Interactive_Web_Mapping_Visualization_of_Urban_Air_Quality_Monitoring_Data_of_China. [Accessed: 05- Nov- 2020]</li>
        <li>[8]K. Candra Sari Djati, "Visual Exploration of Spatial-Temporal Traffic Congestion Patterns Using Floating Car Data", Master's, Technische Universität München, 2020.</li>
        <li>[9]I. Boyandin, "Visualizing mobility data: the scalability challenge", Teralytics. 2019 [Online]. Available: https://medium.com/teralytics/visualizing-mobility-data-the-scalability-challenge-2575fe819702. [Accessed: 06- Nov- 2020]</li>
        <li>[10]L. Chou, "Top 10 Map Types in Data Visualization", Towards data science. 2019 [Online]. Available: https://towardsdatascience.com/top-10-map-types-in-data-visualization-b3a80898ea70. [Accessed: 06- Nov- 2020]</li>

    </ol>
    </div>

</div>

<div class="line_break"></div>