--- 
  layout: _base-layout.ejs 
  faviconApple: ../../favicon_io/apple-touch-icon.png
  favicon32: ../../favicon_io/favicon-32x32.png
  favicon16: ../../favicon_io/favicon-16x16.png
  faviconManifest: ../../favicon_io/site.webmanifest
  cssLink: ../../css/photographyProject.css
  pageTitle: Never Lose Your Soul
  short_description: Never Lose Your Soul - Uganda photography
  jsLink: ../../js/home.js
---

<div class="project_title">
  <h2>Never Lose Your Soul: an Erazmus+ project</p>
  </div>
<div class="gallery-cont">


  <div class="asset wide">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/uganda/uganda1.jpg" alt="">
      </div>
  </div>

  <div class="asset side left">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/uganda/uganda3.jpg" alt="">
      </div>
  </div>

  <div class="asset side right">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/uganda/uganda2.jpg" alt="">
      </div>
  </div>

  <div class="asset">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/uganda/uganda4.jpg" alt="">
      </div>
  </div>

  <div class="asset wide">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/uganda/uganda6.jpg" alt="">
      </div>
  </div>

  <div class="asset side left">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/uganda/uganda5.jpg" alt="">
      </div>
  </div>

  <div class="asset side right">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/uganda/uganda7.jpg" alt="">
      </div>
  </div>

  <div class="asset">
      <div class="asset-image">
        <img loading=lazy src="../../assets/photography/uganda/uganda8.jpg" alt="">
      </div>
  </div>

</div>
